<p style="padding-left: 100px;" class="navbar"> 
    <mat-toolbar>
      <span>
        <a [routerLink]="['']">Home</a>
        &nbsp;
        <a [routerLink]="['list']">List</a>
      </span>
      <span style="margin-left: auto; ">
        <a [routerLink]="['login']">Login</a>
        &nbsp;
        <a [routerLink]="['welcome']">Welcome</a>
      </span>
    </mat-toolbar>
</p>
  <p style="font-size:large;float: right;padding-right: 150px;">
    <span>
      Current Timezone: <span style="color: lightseagreen"> IST</span>
    </span>
    <br>
    <span>
      Currency: <span style="color: lightseagreen;"> INR</span>
    </span>
  </p>