<div style="padding-left: 140px; padding-right: 60px;">
    <p style="color: aqua; font-size: 35px;">
        <span>Employee Records</span>
    </p>
    <hr>
  </div>
<div class="container position-absolute top-50 start-50 translate-middle mt-5 ms-5" style="padding-left: 40px; padding-right: 60px;">
    <div class="col">
        <table class="table border-primary">
            <thead>
                <tr>
                    <th>Full&nbsp;Name</th>
                    <th>Contact#</th>
                    <th>Email</th>
                    <th>DOB</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees">
                    <td>{{ emp.firstName}} {{ emp.lastName}}</td>
                    <td>{{ emp.contactNo }}</td>
                    <td>{{ emp.email }}</td>
                    <td>{{ emp.dob }}</td>
                    <td>{{ emp.address }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>